@import './base.css';

#app {
  margin: auto;
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.cursorPointer:hover {
  cursor: pointer;
}

.pkmList {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 32px;
  justify-content: center;
}

.pkmItemList {
  margin: auto;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
